@model OzonShop.Models.ResetPassword
@{
    ViewBag.Title = GlobalRes.Resource.ChangePassword;
}

<div style="border: 4px solid blue">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)  
        <legend>@GlobalRes.Resource.ChangePassword</legend>          
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword, new { @class = "input-xlarge" })
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-xlarge" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        @Html.HiddenFor(m => m.ResetPasswordToken, new { value = Model.ResetPasswordToken });
        <input type="submit" value=@GlobalRes.Resource.ChangePassword class="btn"/>        
    }       
</div>

