@model Shop.DataBase.Picture
@{
    ViewBag.Title = @GlobalRes.Resource.Create + " " + @GlobalRes.Resource.Picture;
}

<div style="border: 4px solid blue">
    <ul class="breadcrumb">
        <li>@Html.ActionLink(@GlobalRes.Resource.Products, "Product")<span class="divider">/</span></li>
        <li>@Html.ActionLink(@GlobalRes.Resource.Edit, "EditProduct", new { id = Model.ProductId })<span class="divider">/</span></li>
        <li class="active">@GlobalRes.Resource.Create </li>
    </ul>

    @using (Html.BeginForm("CreatePicture", "Admin", FormMethod.Post, new { role = "form" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            @Html.HiddenFor(model => model.ProductId, new { Value = Model.ProductId })
            <div class="editor-label">
                <b>Url:</b><br /> 
                @Html.EditorFor(model => model.PictureUrl)
                @Html.ValidationMessageFor(model => model.PictureUrl)
            </div>
            <p><input type="submit" class="btn" value="@GlobalRes.Resource.Create" /></p>
        </fieldset>
    }
</div>